.DatePicker {
  height: 50px;
  border: 1px solid #9bb7ba;
  padding-left: 5px;
  color: #355257;
  font-size: 20px;
}

.react-datepicker-popper {
}

@media screen and (max-width: 480px) {
  .react-datepicker-popper {
    left: -55px !important;
  }
}
