.DatePicker {
  height: 50px;
  border: 1px solid #9bb7ba;
  padding-left: 5px;
  color: #355257;
  font-size: 20px;
}

.DatePickerContainer:nth-child(1) > div > div > input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.DatePickerContainer:nth-child(2) > div > div > input {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media screen and (max-width: 480px) {
  .react-datepicker-popper {
    left: -55px !important;
  }
}
